body {
  background-color: #EFEFEF;
}

.genFR {
  float: right;
}

.genFL {
  float: left;
}

.genGitButton {
  background-color: transparent;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  color:#FF3B3F;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  transition: background .3s, color .3s
}

.genGitButton:hover {
  background: #FF3B3F;
  color: #CAEBF2
}

.GenCanvasAndAnimation {
  width: 90%;
  margin: auto;
}

.GenButtonRow button {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  transition: background .3s, color .3s;
  background-color: transparent;
}

.GenButtonRow {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.gen-btn-hire {
  color: #FF3B3F;
}


.gen-btn-hire:hover {
  color: #545454;
  background-color: #FF3B3F;
}

.gen-btn-iam {
  color: #FFC53A;
}

.gen-btn-iam:hover {
  color: #545454;
  background-color: #FFC53A;
}

.gen-btn-projects {
  color: #545454;

  /* background-color: #FAF05F !important; */

  /* color: #FAF05F; */
}

.gen-btn-projects:hover {
  color: #FAF05F;

  background-color: #545454  !important;

  /* color: #545454;
  background-color: #FAF05F; */

}

.genProjectItem {
  display: inline;
}

.genProjectItem p {
  margin-bottom: 7px;
}

.genProjectItemCheckMark {
  width: 25px;
  height: 25px;
}

.genBlueHighlight {
  background-color: rgba(194,235,239,0.76);
}

.genOrangeHighlight {
  background-color: rgba(255,197,58,0.76);
}

.genRedHighlight {
  background-color: rgba(255,59,63,0.60);
}

.genYellowHighlight {
  background-color: rgba(250,240,95,0.76);
}

.genAddTextPadding {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.genPicturePlaceHolder {
  text-align: center;
}

.genPicture {
  margin: auto;
  width: 264px;
  height: 400px;
  background-color: #aaaaaa;
}

.genHireMeText {
  text-align: center;
}











/* eof */
