@media only screen and (max-device-width : 600px) {
  .projectCard p {
    font-size: 32px;
  }

  .projectCard h5 {
    font-size: 34px;
  }

  .projectSearchBar {
    font-size: 34px;
    height: 50px;
  }

  .navbar-brand {
    font-size: 34px;
  }

  .navGitButton {
    font-size: 34px;
  }
}