#type {
  text-align: center;
  margin: auto;
  width: 90%;
}

.typeAnimationWrapper {
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 48px;
}

.typeBoxName {
  border-radius: 20px;
}

.typeButtonAfterType {
  position: relative;
  bottom: 0;
  right: 0;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: none;
}

.typeButtonAfterType button {
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  transition: background .3s, color .3s;
  background-color: transparent;
}
