html {
  width : auto;
  height: auto;
  background-color: #C5C6Ca;
}

.navbar {
  background-color: #1F2833;
}

.navbar-brand {
  color: #65FBF0 !important;
}
.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;
}

.middleContent {
  text-align: center;
  border: 1px solid rgba(86,61,124,.2);
}
