html {
  background-color: #C5C6Ca;
}

.Tags {
  padding-left: 10px;
  display: inline-block;
}

.Tag {
  padding-left: 5px;
}

.tag-Sorting {
  border-radius: 20px;
  background: #FCFA80;
  padding: 3px;
}

.tag-JavaScript {
  border-radius: 20px;
  background: #AFFC80;
  padding: 3px;
}

.tag-Visualization {
  border-radius: 20px;
  background: #80B3FC;
  padding: 3px;
}

.code-Description {
  display: inline-block;
  vertical-align:middle;
}

.short-Description p{
  display: inline-block;
  margin: 0px;
}

.title p{
  display: inline-block;
  margin: 0px;
  width: auto;
}

.example-image {
  height: 50px;
  width: 50px;
}

.code-line {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 10px;
}

.code-container {
  height: 500px;
  background-color: #C5C6Ca;
}

.row {
  margin-bottom: 5px;
}

.container {
  max-width: 1600px;
}

.side-content {
  border-left: 1px solid rgba(86,61,124,.2);
  text-align: center;
}

.middle-content {
  text-align: center;
  border-right: 1px solid rgba(86,61,124,.2);
  border-left: 1px solid rgba(86,61,124,.2);
}

.navbar-brand {
  color: #65FBF0 !important;
}
.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;
}

.navbar {
  background-color: #1F2833;
}
