html {
  background-color: #C5C6Ca;
}

.row {
  margin-bottom: 5px;
}

.container {
  max-width: 1600px;
}

.side-content {
  border-left: 1px solid rgba(86,61,124,.2);
  text-align: center;
}

.middle-content {
  text-align: center;
  border-right: 1px solid rgba(86,61,124,.2);
  border-left: 1px solid rgba(86,61,124,.2);
}

.navbar-brand {
  color: #65FBF0 !important;
}
.navigation-clean-button.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important;
}

.navbar {
  background-color: #1F2833;
}
