body {
  background-color: #EFEFEF;
}

.wrapper {
  margin-top: 10px;
  text-align: center;
}

.genGitButton {
  background-color: transparent;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  color:#FF3B3F;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  transition: background .3s, color .3s
}

.genGitButton:hover {
  background: #FF3B3F;
  color: #CAEBF2
}

.navbar {
  background-color: transparent !important;
  z-index: 1;
}

.navbar-brand {
  color: #FF3B3F !important;
}

.navGitButton {
  position: fixed;
  right: 16px;
}

.title {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center !important;
}
